{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<style>

    .delete-button {
    	border: 12px;
        outline: 14px;
		text-align: center;
		text-decoration: none;
		-webkit-appearance: none;
        cursor: pointer;
        font-size: 11px;}

</style>
<h3>{{ area.city }}, {{ area.state }}</h3>


	<ul class="items" id = "venues">
		<li>
			<a href="/venues/{{ area.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ area.name }}</h5>
				</div>
			</a>
		 </li>
	</ul>
	<button class=" delete-button" data-id="{{ area.id }}">Delete Venue</button>
	{% endfor %}
	{% endblock %}
	<script type="text/javascript">
    const deleteBtns = document.querySelectorAll('.delete-button');
    for (let i = 0; i < deleteBtns.length; i++) {
      const btn = deleteBtns[i];
      btn.onclick = function(e) {
        const venueItem = e.target.dataset['data-id'];
        fetch('/venues/' + venueItem, {
          method: 'DELETE'
        })
        .then(function() {
          const item = e.target.parentElement;
          item.remove();
        })
	</script>

