{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<style>    
	.btn {
    	border: 20px;
        outline: 14px;
		text-align: center;
		text-decoration: none;
		
        cursor: pointer;
        font-size: 11px;
        color: orange;
        }

</style>
	<ul class="items" id="venues">
		<h3>{{ area.city }}, {{ area.state }}</h3>
	
		<li>
			<a href="/venues/{{ area.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ area.name }}</h5>
				</div>
			</a>
		 </li>
		 <button class="btn btn-sm rounded-0" name="button" data-id="{{ area.id }}" type="button" data-toggle="tooltip" data-placement="top" title="Delete"  ><i class="fa fa-trash"></i></button>
	</ul>
	{% endfor %}
	{% endblock %}




